<script type="text/javascript" src="~/Scripts/site/Message.js"></script>
<link rel="stylesheet" href="~/Content/Styles/Files.css"/>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Message", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            @Html.Hidden("ThemeId", (Guid)ViewData["ThemeId"])

            <div class="form-group">
                @Html.TextArea("Content", new {@class = "form-control", style = "width: 50%; height: 100px; max-width: inherit; resize: none;"})
            </div>
            <div id="fileTagsContainer"></div>
            <div id="filesContainer"></div> 
            <div>
                <input type="submit" value="Добавить комментарий" , class="btn btn-success"/>
            </div>
        }
    </div>
</div>