@model StudyForum.WEB.ViewModels.CreateThemeViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateTheme</title>
</head>
<body>
<div class="col-md-12">
    @using (Html.BeginForm("Create", "Theme", FormMethod.Post))
    {
        @Html.HiddenFor(t => t.SubjectId)

        <div class="form-group">
            @Html.TextBoxFor(t => t.Title, new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.TextAreaFor(t => t.Description, new {@class = "form-control"})
        </div>
        <div>
            <input type="submit" value="Создать" class="btn btn-success">
        </div>
    }
</div>

</body>
</html>
