body {
    background: url(../Content/Img/bg.png) repeat;
}

.signin-container {
    margin-top: 20px;
}

.signin-container .row {
    margin-top: 20px !important;
}

.bordered {
    border: 1px solid rgb(0, 105, 92);
    border-radius: 5px;
}
